
/* applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    header, main {
        padding: 30px 150px;
    }
    .feature-img {
        padding-left: 0px;
    }
    .experience {
        left: 0px;
    }
    .cart{
        padding: 12px;
    }
    .feature-img img {
        height: 100%;
    }
    .feature-content{
        width: 100%;
        padding-right: 100px;
    }
}

/* applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    header,main {
        padding: 30px 100px;
    }
    .teem-img-container {
        padding: 0px 50px;
    }
    .feature{
        flex-direction: column;
    }
    .feature-content{
        width: 100%;
        padding-right: 0px;
    }
    .facts-cart-container{
        flex-wrap: wrap;
    }
}

/* applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    header,main {
        padding: 30px 70px;
    }
    .teem, .feature{
        flex-direction: column;
    }
    .teem-img-container,
    .teem-content
    {
        width: 100%;
    }
    .teem-content{
        margin-top: 50px;
    }
    .feature-content{
        width: 100%;
        padding-right: 0px;
    }
    .facts-cart-container{
        flex-wrap: wrap;
    }
}
 /* applies to small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) {
    nav,
    .teem,
    .feature
    
     {
        flex-direction: column;
    }
    ul li{
        margin-top: 20px;
    }
    header ,
    main
    {
        padding: 30px 50px;
    }
    .banner-title {
        font-size: 3rem;
    }   
    /* teem style  */
    .teem-img-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0px 0px;
    }
    .teem-img-container,
    .teem-content
    {
        width: 100%;
    }
    .teem-img-container img {
        width: 100%;
    }
    .teem-content{
        margin-top: 60px;
    }
    .feature-content{
        width: 100%;
        padding-right: 0px;
    }
    .facts-cart-container{
        flex-wrap: wrap;
    }
 }
/* applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    nav,
     ul,
     .teem ,
     .feature,
     .facts-cart-container{
        flex-direction: column;
    }
    nav ul li {
        margin: 10px 0px;
        text-align: center;
    }
    header,
    main 
    {
        padding: 4vw;
    }
    .banner-title {
        font-size: 2rem;
    }
    /* teem style  */
    .teem-img-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0px 0px;
    }
    .teem-img-container{
        width: 100%;
    }
    .teem-img-container img {
        width: 100%;
    }
    .experience {
        border-radius: 8px;
        background: #FF900E;
        width: 100%;
        padding: 20px;
        position: relative;
        bottom: 0px;
        left: 0px;
    }
    .experience h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 70px;
    }
    .feature-content{
        width: 100%;
        padding-right: 0px;
    }
    .feater-img{
        padding-left: 0px;
    }
    /* responser styles  */
    .responser-img-container{
        flex-wrap: wrap;
    }
    .responser-img-container img{
        width:400px ;
    }
    footer p{
        font-size: .8rem;
    }
}
@media (max-width: 287.98px) {

    nav, ul , .teem{
        flex-direction: column;
    }
    nav ul li {
        margin: 10px 0px;
        text-align: center;
    }
    header {
        padding: 4vw;
    }
    .banner-title {
        font-size: 1rem;
    }
    .experience {
        border-radius: 8px;
        background: rgb(255, 144, 14);
        width: 90%;
        padding: 1vw;
        position: relative;
        bottom: 0px;
        left: 0px;
    }
}