/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@500;600;700&display=swap');


/* sheared styles  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 16px 25px;
    border: none;
    cursor: pointer;
}

/* header styles  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 200px;
}

header>nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    padding: 0px 20px;
}

header ul li a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    text-align: center;
    width: 862px;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    text-align: center;
    font-size: 1rem;
    line-height: 26px;
    padding: 30px 0px;
}

.banner img{
    width: 100%;
    margin-top: 30px;
}